<div class="popup popup-newsletter xhidden">

	<div class="grid">

		<div class="popup-contents grid-item push--medium--one-quarter push--large--one-third small--one-whole medium--one-half large--one-third">

			<div class="popup-contents__exit">x</div>
			<div class="popup-contents__tag text-center">Sign up for our newsletter, get 10% off.</div>
			<div class="popup-contents__subtag text-center">Be the first to know about new styles and more.</div>

			<div class="grid-item text-center popup-contents__newsletter-form">
				{% include 'newsletter-form' %}
			</div>

			<div class="text-center popup-contents__subtag">
			<span class="popup-contents__no-thanks">No thanks</span></div>

		</div>

	</div>

</div>
